<html>
  <head>
    <link rel="stylesheet" href='/static/style.css' />
  </head>

  <body><center>
    <div class="boxy"> <!-- Found out how to add boxes at: http://www.thesitewizard.com/css/rectangular-box-border.shtml -->
      <h1>Hello there. My name is Eve.</h1>
      <form action ="/" method="POST">
	<input type="radio" name="direction" value="forward" /> Forward
	<input type="radio" name="direction" value="backward" /> Backward
	<input type="radio" name="direction" value="stop" /> Stop
	<br>
	<input type="submit" value="Submit">
	<input type="reset" value="Reset">
      </form>
    </div>
  </body>
</html>
