<html>
  <head>
    <link rel="stylesheet" href='/static/monitor.css' />
  </head>

  <body><center>
    <div class="boxy">
      <h1>Write a message and choose a color for the display.</h1>
      <hr>
      <form action ="/" method="POST">
        Message: <p><input type = "text" name="message" /></p>
        <hr>
        <p><input type="radio" name="color" value="red" />Red</p>
        <p><input type="radio" name="color" value="green" />Green</p>
        <p><input type="radio" name="color" value="blue" />Blue</p>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
